.container {
  margin: auto;
  max-width: 100rem;
  min-width: 78rem;
  height: calc(100vh - 1rem);
  display: flex;
  align-items: center;

  .card_items_container {
    display: flex;
    margin: 2rem 2rem;
    color: var(--color-black-2);

    .Image {
      max-width: 20rem;
      object-fit: contain;
      margin-right: 3rem;
      margin-top: 1.5rem;
      align-self: flex-start;
    }

    .title_rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;

      .title {
        font-size: 2rem;
        font-weight: 800;
      }
    }
    .price {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 4rem;
    }
    .description_title {
      font-size: 1.4rem;
      font-weight: 700;
    }
    .description {
      line-height: 2.5rem;
      font-size: 1.5rem;
      margin-bottom: 5rem;
      color: var(--color-black-3);
    }
    .typeContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin-bottom: 4rem;
    }
    .verticalLine {
      border-left: 2px solid var(--color-gray-2);
      height: 60px;
    }
    .share_and_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
