.container {
  display: flex;
  .colors {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-inline: 1rem;

    .checked {
      align-self: center;
      border-radius: 50%;
      width: 3.3rem;
      height: 3.3rem;
      position: absolute;
    }
  }
}
.title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-black-2);
}
