.product {
  display: flex;
  width: 40rem;
  justify-content: space-between;

  align-items: center;
  &__leftSide {
    margin-inline: 1rem;
  }
  &__category {
    font-size: 1.2rem;
    color: var(--color-gray-1);
  }

  &__title {
    font-size: 1.6rem;
    margin-block: 0.8rem;
  }
  &__price {
    font-size: 1.5rem;
    padding-inline: 0.5rem;
    font-weight: 600;
  }
  &__description {
    display: inline-block;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25rem;
    white-space: nowrap;
  }
  &__rateCount {
    font-size: 1.2rem;
    margin-inline: 0.5rem;
  }

  img {
    object-fit: fill;
    max-height: 10rem;
    max-width: 10rem;
    margin-inline: 1rem;
    cursor: pointer;
  }
}
