.basketButton {
  box-shadow: var(--box-shadow-2);
  background-color: var(--color-orange);
  border-radius: var(--default-radius);
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 600;
  align-items: center;
  border: 0;
  cursor: pointer;
  span {
    color: var(--color-white);
    margin-left: 1rem;
  }
}
