.select {
  border-radius: var(--default-radius);
  outline: none;
  border: 0;
  color: var(--color-gray-1);

  option {
    color: var(--color-black);
  }
}
.label {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-black-2);
  margin-bottom: 1rem;
}
