:root {
  //colors
  --color-black: #000000;
  --color-black-2: #000000ad;
  --color-black-3: #00000094;
  --color-white: #ffffff;
  --color-gray-1: #91a3ab;
  --color-gray-2: #f0f0f0;
  --color-orange: #ff7a76;

  //box-shaddow
  --box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 15%);
  --box-shadow-2: 5px 4px 16px 3px rgba(255, 122, 118, 0.35);

  //border-radius
  --default-radius: 5px;
}
